body {
    font-family: 'Garamond', serif;
    background-color: #060e6c;
    color: #f0e68c;
    margin: 0;
    padding: 20px;
    background-image: url('https://www.transparenttextures.com/patterns/stardust.png');
}
.container {
    max-width: 600px;
    margin: auto;
    background: rgba(50, 50, 50, 0.8);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.5);
    border: 2px solid #f0e68c;
}
h1 {
    text-align: center;
    font-size: 2.5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
label {
    display: block;
    margin: 10px 0 5px;
    font-size: 1.2em;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #f0e68c;
    border-radius: 5px;
    background-color: #3b3b3b;
    color: #f0e68c;
    font-size: 1em;
}
input::placeholder {
    color: #d1c6a8;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #8b5a2b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #a0522d;
    transform: scale(1.05);
}

.results {
    margin-top: 20px;
    padding: 10px;
    background: rgba(255, 215, 0, 0.2);
    border-radius: 5px;
    border: 1px solid #f0e68c;
    font-size: 1.2em;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}

h2 {
    text-align: center;
    font-size: 1.8em;
    margin-top: 30px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
label {
    font-size: 16px;
    color: #fff;
    margin-bottom: 5px;
    display: block;
}
input, select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 2px solid #000;
    box-sizing: border-box;
    font-size: 16px;
}
input:focus, select:focus {
    border-color: #ff007f;
    outline: none;
}
button {
    background-color: #00bfff;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 16px;
}
button:hover {
    background-color: #fc54a8;
    transform: scale(1.05);
}
button:focus {
    outline: none;
    box-shadow: 0 0 5px #ff007f;
}
p {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
}
.timer {
    margin-bottom: 15px;
}
.timer input {
    width: calc(70% - 10px);
    margin-right: 5px;
}
.timer button {
    width: 25%;
}
.timer-display {
    font-weight: bold;
    color: #000;
}